language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
# command to install dependencies
install:
  - pip install --upgrade pip setuptools
  - pip install -r requirements-dev.txt
  - pip install -r requirements.txt
  - python setup.py build_ext --inplace
# command to run tests
script:
  - export PYTHONPATH=$PYTHONPATH:$(pwd)
  - pytest