language: python
python:
  - "3.7"
# command to install dependencies
install:
  - pip install -r requirements_tests.txt
  - python compile_cython.py
# command to run tests
script:
  - export PYTHONPATH=$PYTHONPATH:$(pwd)
  - pytest