name: Build & Test

on:
    schedule:
      - cron: '0 1 * * 4' # Runs every Thursday at 1 AM (UTC)
    pull_request:
    push:
      branches:
        - master
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
  build_wheels:
    name: ${{ matrix.os }}-${{ matrix.arch }}-${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Check for latest setpup: https://github.com/pypa/cibuildwheel/blob/main/examples/github-with-qemu.yml
        # macos-13 is Intel and macos-14 is Apple Silicon
        os: [ubuntu-latest, windows-latest, macos-13, macos-14]
        python: [cp310, cp311, cp312] # As of 3/Oct/24 ortools was not compatible with cp313
        arch: [x86_64, aarch64, AMD64, arm64]
        # Use exclude instead of include as it doesn't have the correct behviour (overirdes values)
        exclude:
          # Ubuntu include: x86_64, aarch64
          - os: ubuntu-latest
            arch: AMD64
          - os: ubuntu-latest
            arch: arm64
          # Macos-13 include: x86_64
          - os: macos-13
            arch: aarch64
          - os: macos-13
            arch: AMD64
          - os: macos-13
            arch: arm64
          # Macos-14 include: arm64
          - os: macos-13
            arch: x86_64
          - os: macos-13
            arch: aarch64
          - os: macos-13
            arch: AMD64
          # Windows include: AMD64
          - os:  windows-2022
            arch: x86_64
          - os:  windows-2022
            arch: aarch64
          - os:  windows-2022
            arch: arm64
      fail-fast: false

    steps:
      - name: Set up QEMU
        if: matrix.arch == 'aarch64'
        uses: docker/setup-qemu-action@v2
        with:
          platforms: arm64
      - uses: actions/checkout@v3
      - name: Build and test wheels
        uses: pypa/cibuildwheel@v2.21.2 # You may need to update to get latest Python versions
        env:
            # Build
            # NOTE: build dependcies are defined in pyproject.toml (including numpy version)
            CIBW_BUILD_FRONTEND: "build"
            CIBW_ARCHS: ${{ matrix.arch }}
            CIBW_BUILD: "${{ matrix.python }}*"
            CIBW_SKIP: "*musllinux*"

            # Test
            CIBW_BEFORE_TEST: "pip install --upgrade pip && pip install -r requirements-dev.txt && pip list"
            CIBW_TEST_COMMAND: "pytest {project}/tests"
      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl