name: Build

on:
    pull_request:
    push:
      branches:
        - master

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-latest, macos-11]
      fail-fast: false

    steps:
      - uses: actions/checkout@v3

      - name: Build and test wheels
        uses: pypa/cibuildwheel@v2.13.1
        env:
            CIBW_BEFORE_TEST: "pip install -r requirements-dev.txt"
            CIBW_TEST_COMMAND: "pytest {project}/tests"

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl